<span style="color: {{ block.settings.color }}">
  Hello nowa
</span>
<br/>
<hl>{{ page_title }}</hl>

{% render "app_snippet" %}

{% schema %}
  {
    "name": "Hello World",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#FFA500"
      }
    ]
  }
{% endschema %}